body{
	width:100%;
	margin:0%;
}

a {
	text-decoration: none;}

a:visited{
	color:inherit;
	}
	
#wrapper {
	width: auto; // not currently used. might be used to trammel content
}
#sideBox{

	display: flex;
	flex-direction: column;
	margin: 160px 0px 0px 50px;
	height: 100%;
	width: auto;
	position: fixed;
	//justify-content: center;
	padding-right: 60px;
	padding-left: 60px;
}

#banner{
   background: url("learner4.png") no-repeat top left fixed	 ;
   background-size: auto;
   height: 320px; 
} 

/* #banner {
	height:280px;
	max-width: 90%;
	margin-left: 300px; 
	background-image: url('learner2.png');
	background-repeat: no-repeat;
	background-size: contain;
	
}  */

.titleContainer{
	display: flex;
	flex-direction:row;
	padding: 0px 0px 0px 200px; // incrementing the 2nd param is irrelevant while the div's invisible!
}

.contentContainer{
	display: flex;
	flex-direction:column;
	width: 70%;
	padding: 0px 0px 0px 300px; // incrementing the 2nd param is irrelevant while the div's invisible!
}

#title{
	padding: 50px 0px 0px 350px;
	font-family: 'Comfortaa', cursive;
	font-size: x-large;
	//text-decoration: underline;
	//color: white;
	//background: #F26E53;
	//background: #FA573C;
	//background: #FE5B54;
	//background: #a2a2a2;
}

.gallery {
	
	justify-content: flex-start;
	display: flex;
	flex-direction: row;
	}


h2 {
	color:#FE5B54;
	margin: 50px 0px 0px 0px;
	font-family: 'Comfortaa', cursive;
	//font-family: 'Josefin Sans', sans-serif;
	//font-family: 'Pacifico', cursive;
	//font-family: 'Michroma', sans-serif;

}

p, h3 {
	font-family: 'Roboto', sans-serif;
}

h3:hover{
	font-style: italic;

}

svg{

	width: 60px;
	height: auto;
	padding: 10px 0px 0px 0px;
}

svg:hover{
	fill: #FE5B54;
}

*:focus {
    outline: none;  // ensure clickable elements have some other highlight method for reasons of accessibility! OR web brutalise it up and make the boxes huge and chunky
}

.columnText {

		text-align: justify;
		max-width: 70%;
		-webkit-column-count: 2; /* Chrome, Safari, Opera */
		-moz-column-count: 2; /* Firefox */
		column-count: 2;
		-webkit-column-rule: 1px solid ; /* Chrome, Safari, Opera */
		-moz-column-rule: 1px solid ; /* Firefox */
		column-rule: 1px solid ;	

		-webkit-column-width: 50px; /* Chrome, Safari, Opera */
		-moz-column-width: 100px; /* Firefox */
		column-width: 100px;

		-webkit-column-gap: 40px; /* Chrome, Safari, Opera */
 		-moz-column-gap: 40px; /* Firefox */
 		column-gap: 40px;
		}

.thumbnail {
background-color: #FE5B54;
width: 140px;
height: 150px;
margin-top: 30px;

}