body{
	width:60%;
}
#sideBox{
	// color:white;
	display: flex;
	flex-direction: column;
	position: fixed; // how to keep fixed relative to viewport, but move/grow relative to the sideBar?!
	top: 100px;
	width: 100%;
	height: 50px;
	padding: 10px 20px 0px 25px; // padding lets you change the length of the content without cramping. Ah!
}

.container{

	display: flex;
	flex-direction:column;
	// justify-content: center; //I don't want the content of all containers to be centere
	// background: #AAAAAA;

	padding: 0px 0px 0px 120px; // incrementing the 2nd param is irrelevant while the div's invisible!
}

#title{

	//text-align: center;
	//justify-content: center;
	padding: 20px 0px 20px 120px;
	margin: 0px 0px 0px 0px;
	font-family: 'Comfortaa', cursive;
	font-size: x-large;
	//color: white;
	//background: #F26E53;
	//background: #FA573C;
	background: ;
}


h2 {
	font-family: 'Comfortaa', cursive;
	//font-family: 'Josefin Sans', sans-serif;
	//font-family: 'Pacifico', cursive;
	//font-family: 'Michroma', sans-serif;

}

p, h3 {
	font-family: 'Roboto', sans-serif;
}

h3:hover{
	font-style: italic;

}

svg{
	//fill: #F26E53;
	width: 60px;
	height: auto;
	padding: 10px 0px 0px 0px;
}

svg:hover{
	fill: #FE5B54;

}

.columnText {
	width: auto;
	-webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
	-webkit-column-rule: 1px solid ; /* Chrome, Safari, Opera */
    -moz-column-rule: 1px solid ; /* Firefox */
    column-rule: 1px solid ;
	text-align: justify;
	-webkit-column-width: 50px; /* Chrome, Safari, Opera */
    -moz-column-width: 100px; /* Firefox */
    column-width: 100px;
}

