#wrapper {
  background-color: #F4F4F4;
}

.title {/*font-family: 'Monda', sans-serif; */
font-family: 'Bevan', cursive;
font-size: xx-large;}

.bg-1 {
  text-align:center;
  font-family:Helvetica;
  color:#FFFFFF;
  background-color: #ea4a5a;
  padding: 20px 0px 20px 0px;
}

#sidebar {
    position:fixed;
    height:100%;
    width: 100px;
    background-color: #303133;
    overflow-y: auto;
}
img {
  max-width: 100%;
}

.bg-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align:center;
  font-family:'Monda', sans-serif;
  color:#FFFFFF;
  background-color: #F4F4F4;
  padding: 20px 0px 20px 0px;
}

.folio {
  width: 100px;
	height: 100px;
	background: #73AFB6;
	color: white;
	text-align: center;
  padding: 20px;
  margin: 20px;
}



/*---------------------------*/
