body {
  	margin:0;
	width: 100%;
   	background:url('wallpaper.jpg');
    	background-repeat: no-repeat;
    	background-size: cover;} <!-- modify for other devices -->

img {
	height:100%;
	width:auto;
	}

.banner {
	width: 100%;
	max-width: 1000px;

}


.background-2{
	background-color: #3D5229;
	/* bright yellow ("gold") #FFD700;
	/* moss green #3D5229*/
	/* pale green #b1c564 */
    	color: #ffffff;
  	text-align:center;
	padding-top:20px;
	padding-bottom:20px;
    }

.background-3{
    	background-color:  #000000   ;
  	text-align:center;
	padding-top:200px;
	padding-bottom:200px;
    }

.img-circle{
  	border-radius: 50%
}

.container-fluid {
    	padding-top: 200px;
    	padding-bottom: 200px;
	text-align: center;
}
