body {
  	margin:0;
	width: 100%;
   	background:url('abstract.jpg');
    background-repeat: no-repeat;
    background-size: cover;} <!-- modify for other devices -->
	
}

.banner {
	height: 100%;
	width: auto;
	max-width: 500px;
	}

.navbar {
	margin: 20px;
	width: 100%;
	position: fixed;	
	}

.navbar div {
	background-color: #003333;
	color: #FFFFFF;
	opacity:1;
	float:left;
	padding: 10px 20px 10px 20px;
	margin: 3px;
	border-radius: 8%;
	}

.background-2{
	background-color: #003333;
	/* bright yellow ("gold") #FFD700;
	/* moss green #3D5229*/
	/* pale green #b1c564 */
    color: #ffffff;
	opacity: 0.8;
  	text-align:center;
	padding-top:20px;
	padding-bottom:20px;
    }

.background-3{
    background-color:  #000000   ;
  	text-align:center;
	padding-top:200px;
	padding-bottom:200px;
    }


.container-fluid {
    padding-top: 200px;
    padding-bottom: 200px;
	text-align: center;
	}

.screenshot {
	height:100%;
	width:auto;
	max-width:50px;
	}
